<div class="loading-animation">
<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F64B;
            </span>    
            &nbsp; I've worked for
        </p>
    </div>
    <ul>

        {% include project-list.html %}

    </ul>
</section>

<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x270f;
            </span>
            &nbsp; Education
        </p>
    </div>    
    <ul>
	    
	{% include education-list.html %}
	    
    </ul>
</section>

<section class="research">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1f30f;
            </span>
            &nbsp; Research interests
        </p>
    </div>    
    <ul>
        {% for research in site.data.research %}
            <li class="research_name">
                {{ research.name }}
            </li>
        {% endfor %}
    </ul>
</section>
	
<section class="skills">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F4AA;
            </span>
            &nbsp; Skills
        </p>
    </div>    
    <ul>
	    {% for research in site.data.skills %}
		<li class="skills_name">
			{{ skills.name }}
		</li>
	    {% endfor %}
    </ul>
</section>
	
</div>    
