<div class="loading-animation">
<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F64B;
            </span>    
            &nbsp; I've worked for
        </p>
    </div>
    <ul>

        {% include project-list.html %}

    </ul>
</section>

<section class="education">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x270f;
            </span>
            &nbsp; Education
        </p>
    </div>    
    <ul>
	<li>M.S. in Department of Computer Science, Hanyang University in 2016. (cvlab@HYU, advised by prof. Jongwoo Lim) </li>
	<br />
    	<li>B.S. in Department of Computer Science, Hanyang University in 2014. </li>
	<br />
    </ul>
</section>

<section class="research">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1f30f;
            </span>
            &nbsp; Research interests
        </p>
    </div>    
    <ul>
        {% for research in site.data.research %}
            <li class="research_name">
                {{ research.name }}
            </li>
        {% endfor %}
    </ul>
</section>
	
<section class="skills">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F4AA;
            </span>
            &nbsp; Skills
        </p>
    </div>    
    <ul>
	<li>Programming Language</li>
	    <ul>
	    	<li> C++, C, MATLAB </li>
	    </ul>
    	<li> Programming Libraries </li>
	    <ul>
	    	<li> OpenCV, MFC </li>
	    </ul>
    	<li> Hardware </li>
	    <ul>
	    	<li> Monocular and stereo cameras, Machine Vision Smart Camera, Collaborative Robot(Robot guidance with UR robot) </li>
	    </ul>
    	<li> Design </li>
	    <ul>
	    	<li> UX & UI design (designed new version of Inno-eye, machine vision software program, 2018) </li>
	    </ul>
    </ul>
</section>
	
</div>    
